streamlit==1.31.0
langchain==0.1.5
langchain-openai==0.0.5
langchain-pinecone==0.0.3
pinecone-client==3.0.2
pyyaml==6.0.1
streamlit-authenticator==0.2.3
myfunc @ git+https://github.com/djordjethai/myfunc.git@550b25a6bcdd08224cbcd2aec4fafa1f9315b130
