html2docx==1.6.0
langchain==0.1.5
langchain-openai==0.0.5
Markdown==3.5.1
myfunc @ git+https://github.com/djordjethai/myfunc.git@550b25a6bcdd08224cbcd2aec4fafa1f9315b130
openai==1.11.1
pandas==2.1.2
pdfkit==1.0.0
pinecone-client==3.0.2
pinecone-text==0.7.1
pyodbc==5.0.1
PyYAML==6.0.1
streamlit==1.31.0
streamlit-authenticator==0.2.3
